inputComponent {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 5px 0;
    border-bottom: 1px solid #bebebe;
}

inputLabel {
    flex: 1;
    font-size: 14px;
    color: #39393a;
}

inputValue {
    display: flex;
    flex: 2;
    font-size: 17px;
    color: #000000;
}

dateTouch {
    flex: 1;
    height: 45px;
}

dateTouchBody {
    flex: 1;
}


dateText {
    flex: 3;
    font-size: 17;
    color: #000000;
}

placeholderText {
    color: #c9c9c9;
}

datePickerMask {
    flex: 1;
    align-items: flex-end;
    flex-direction: row;
    background-color: #00000077;
}

datePickerCon {
    background-color: #fff;
    height: 0;
    overflow: hidden;
}

btnText {
    position: absolute;
    top: 0;
    height: 42;
    padding: 20;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

btnTextText {
    font-size: 16;
    color: #46cf98;
}

btnTextCancel {
    color: #666;
}
btnCancel {
    left: 0;
}

btnConfirm {
    right: 0;
}

datePicker {
    margin-top: 42;
    border-top: 1 #ccc;
}

disabled {
    background-color: #eee;
}
